@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    /* --Verylight-gray (background, headings, buttons): hsl(0, 0%, 95%); */
    --Transparent-white : hsla(0, 0%, 100%, 0.75);
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

.grid-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 50px;
    transition: all 0.4s ease-in;
}

.grid-container:hover{
    transform: scale(1.02);
    transition: all 0.4s ease-out;

}


.commoncss{    
    color: white;
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 1rem; */
}

.i1{
    background-color: var(--Bright-orange);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}


.i2{
    background-color: var(--Darkcyan);
}

.i3{
    background-color: var(--Very-dark-cyan);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

.heading{
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
    font-size: 2.2rem;
    
}

.desc{
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.5rem;
    font-size: 14px;
    color: var(--Transparent-white);
    margin-bottom: 30%;
    padding-right: 8%;
}

.btn{
    background-color: white;
    border: 2px solid white;
    /* font-size: 14px; */
    font-weight: bold;
    width: 80%;
    padding: 15px 0px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
}   

.btn:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.custom1{
    color: var(--Bright-orange);
}

.custom2{
    color: var(--Darkcyan);
}

.custom3{
    color: var(--Very-dark-cyan);
}


@media screen and (max-width:660px) {
    
    main{
        margin: 15% 1%;
    }
    
    .grid-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .i1{
        border-radius: 0;
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        
    }
    
    .i3{
        border-radius: 0;
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;

    }

    .commoncss{
        padding: 20% 20%;
    }

    .btn{
        width: 50%;
    }
}

