:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    /* --Verylight-gray (background, headings, buttons): hsl(0, 0%, 95%);
    --Transparent-white (paragraphs): hsla(0, 0%, 100%, 0.75); */
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

main{
    min-height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.i1{
    border: 1px solid black;
    background-color: var(--Bright-orange);
    width:100%;
    height: 100%;
}

.i2{
    background-color: var(--Darkcyan);
    width:100%;
    height: 100%;
}

.i3{
    background-color: var(--Very-dark-cyan);
    width:100%;
    height: 100%;
}